* {
  box-sizing: border-box;
}

:root {
  --grey-1: #696969;
  --grey-2: #808080;
  --grey-3: #a9a9a9;
}

.gray-1 {
  background-color: var(--grey-1);
}

.gray-2 {
  background-color: var(--grey-2);
}

.gray-3 {
  background-color: var(--grey-3);
}

body {
  font-family: "MijaW03-Regular";
  font-size: 20px;
}

p {
  font-family: "Spinnaker", sans-serif;
}

header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  padding: 1rem 2em;
}

header * {
  border: 1px solid black;
  width: 75px;
  height: 25px;
}

.featured-links {
  /* background: pink; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.featured-links p {
  position: absolute;
  background: white;
  z-index: 2;
  margin: 25px 35%;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.featured-links article {
  width: 33%;
  height: 90vh;
  color: #fff;
  position: relative;
  justify-content: center;
  font-weight: 700;
  padding: 10em 5vw 7em;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.featured-links a {
  font-size: 3em;
  color: white;
  text-decoration: none;
}

.beige {
  /* background: beige; */
  /* width: 94vw; */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.beige div {
  width: 25%;
  height: 575px;
  border: 1px solid black;
  padding: 10px;
}

.beige h2 {
  font-size: 2em;
  text-decoration: underline;
}

.beige p {
  font-weight: lighter;
}

#red-box {
  width: 775px;
  height: 650px;
}

#red-box-2 {
  width: 1175px;
  height: 625px;
}

#load-more {
  height: 150px;
  margin: 0 auto;
}

.blue {
  width: 100%;
  height: 1000px;
}

.white {
  background: white;
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.white div {
  width: 50%;
  height: 575px;
  border: 1px solid black;
}

#first {
  width: 100%;
  height: 325px;
}

#eighth {
  width: 250px;
  height: 150px;
  margin: 0 auto;
}

.red {
  width: 100%;
  height: 300px;
}

.beige2 {
  margin: 0 auto;
  position: relative;
  width: 90%;
}

.beige2 div {
  float: left;
  width: 30%;
  margin: 20px;
  height: 400px;
}

#guide {
  clear: left;
  text-align: center;
  width: 10%;
  margin: 0 auto;
}

footer {
  background: red;
  width: 100%;
  height: 650px;
}
