* {
  box-sizing: border-box;
}

header {
  background: red;
}

.featured-links {
  background: red;
}

.beige {
  background: beige;
}

.blue {
  background: blue;
}

.white {
  background: white;
}

.red {
  background: red;
}

.beige2 {
  background: beige;
}

footer {
  background: red;
}
